{% extends "base_generic.html" %}

{% block content %}
{% load static %}
 <div class="card shadow mt-0">
  <div class="card-header text-white bg-dark  text-start"><i class="fas fa-bomb m-2"></i>Artists</div>
  
  <div class="card-body m-3">  
    <div class="alert alert-primary pb-3 mb-3">
    
    {%  if artist_data  %}
      <table id="table_id" class="table table-striped table-hover p-2 m-3 display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>bio</th>
                <th>website</th>
                <th>timestamp</th>
            </tr>
        </thead>

        <tbody>
          {%  for data_entry in artist_data  %}
            <tr>
                <td>{{ data_entry.ID }}</td>
                <td>{{ data_entry.name }}</td>
                <td>{{ data_entry.bio }}</td>
                <td>{{ data_entry.website }}</td>
                <td>{{ data_entry.timestamp }}</td>
            </tr>
          {% endfor %}  
        </tbody>
      </table>

    </div>
  
    {% else %}
      <h3> You don't have any data</h3>
    {%  endif %}
  </div>
</div>
{% endblock %}