{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="row p-0 m-0">
  <!-- card -->
  <div class="card shadow p-0 m-0">
    <div class="card-header text-white bg-dark text-start">Welcome</div>
    <div class="card-body m-3">  
      <div class="alert alert-primary pb-3 mb-3">
        
      </div>

      </div>     
    </div>
  </div>
  
</div>

<div class="row p-0 m-1"></div>

<div class="row pb-2 mt-1">
  <div class="col-4">
    <!-- card -->
    <div class="card shadow p-0 m-0">
      <div class="card-header text-white bg-dark text-start">Welcome</div>
      <div class="card-body m-3">  
        <div class="alert alert-primary pb-3 mb-3">Note:</div>
      </div>
    </div>
    
  </div>

  <div class="col-4">
    <!-- card -->
    <div class="card shadow p-0 m-0">
      <div class="card-header text-white bg-dark text-start">Welcome</div>
      <div class="card-body m-3">  
        <div class="alert alert-primary pb-3 mb-3">Note:</div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <!-- card -->
    <div class="card shadow p-0 m-0">
      <div class="card-header text-white bg-dark text-start">Welcome</div> 
      <div class="card-body m-3">  
        <div class="alert alert-primary pb-3 mb-3">Note:</div>   
      </div>
    </div>
  </div>

</div>
{% endblock %}