{% extends "base_generic.html" %}

{% block content %}
{% load static %}
 
    {%  if news_data  %}
    

          {% for i in range(0, len(news_data), 3) %}
             
              {% for j in range(3) %}
                  {{ data_entry[i+j] }}

                  <div class="card shadow mt-0">
                    <div class="card-header  text-white bg-dark  text-start"><i class="fas fa-record-vinyl m-2"></i>News</div>
                    
                    <div class="card-body m-3">  
                  
                      <!-- <div class="alert alert-primary pb-3 mb-3">Alerts</div> -->
                      
                      <div class="card shadow mt-0">
                        <div class="card-header  text-white bg-dark  text-start">{{ data_entry.ID }}</div>
                        
                        <div class="card-body m-3">  
                          <div class="alert alert-primary pb-3 mb-3">{{ data_entry.published_date }}</div>
                          <div class="alert alert-primary pb-3 mb-3">{{ data_entry.headline }}</div>
                          <div class="alert alert-primary pb-3 mb-3">{{ data_entry.byline }}</div>
                          <div class="alert alert-primary pb-3 mb-3">{{ data_entry.blurb }}</div>
            
                        </div>
                      </div>
              {% endfor %}     
              
          {% endfor %}


         


          {% endfor %}  
        </tbody>
      </table>
  
    {% else %}
      <h3> You don't have any news data.</h3>
    {%  endif %}
  </div>
</div>
{% endblock %}