<!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black shadow p-2">
     <div class="container-fluid">
       <a class="navbar-brand" href="#">
         {% load static %}
         <img src="{% static 'illbomb/images/ill.png' %}" alt="Ill Bomb Records" width="50" ></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/">Home</a>
           </li>

           <li class="nav-item">
            <span class="nav-link" href="#">|</span>
          </li>

           <li class="nav-item">
             <a class="nav-link" href="/artists/">Artists</a>
           </li>

           <li class="nav-item">
            <span class="nav-link" href="#">|</span>
          </li>

           <li class="nav-item">
             <a class="nav-link" href="/releases/">Releases</a>
           </li>

           <li class="nav-item">
            <span class="nav-link" href="#">|</span>
            </li>

           <li class="nav-item">
             <a class="nav-link" href="#">Merch</a>
           </li>
           
           <!--              
             <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Greenhouses
             </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="greenhouse">Greenhouse 1</a></li>
               <li><a class="dropdown-item" href="greenhouse">Greenhouse 2</a></li>
               <li><hr class="dropdown-divider"></li>
               <li><a class="dropdown-item" href="#">View All</a></li>
             </ul>
           </li>
          
           <li class="nav-item">
             <span class="nav-link" href="#">|</span>
           </li>

           <li class="nav-item">
             <a class="nav-link" href="/dashboard/">dashboard</a>
           </li>
            -->

           <li class="nav-item">
             <span class="nav-link" href="#">|</span>
           </li>
           
           <li class="nav-item">
             <a class="nav-link text-info" href="/admin/">admin</a>
           </li>

         </ul>
         <form class="d-flex">
           <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-light" type="submit">Search</button>
         </form>
       </div>
     </div>
   </nav>
 <!-- end nav-->
